<h1>Your Trips</h1>



<ul>
<% @trips.each do |trip|%>
<li><%= trip.reformat_date %> <%= link_to trip.title, trip_path(trip) %></li>
<%end%>
</ul>
<br>

<%= button_to "New Trip", new_trip_path, method: :get %>
<br>
<%= button_to "Home", '/welcome', method: :get%>
