<h1>Destinations</h1>

<%= button_to "My Trips", '/trips', method: :get%>
<br>
<%= button_to "Home", '/welcome', method: :get%>
<br>

<ul>
<% @destinations.each do |dest|%>
<li><%= link_to dest.city, destination_path(dest) %></li>
<br>
<%end%>
</ul>
